<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/user/login"
             //window.location="/user/login"
        }
        
      
    


</script>
<div class="row">
<h1> Tabla Avatar </h1>
</div>

<div class="row">
<a href="/avatar/new" type="button" class="btn btn-default btn-success">Nuevo</a>
    <a href="/about" type="button" class="btn btn-default btn-warning">Atrás</a>
</div>
<div class="row pt-md-5"></div>

{{#each objAvatar}}
  <div class="row">
      <br> <br>
    <div class="col-4 col-sm-3">
        <p href='/avatar/{{id_avatar}}'> ID: {{id_avatar}} <br>PUNTAJE: {{puntaje}} <br> FOTO: {{foto}}  </p>
    </div>
    <div class="col-4 col-sm-1">
        <a type="button" class="btn btn-default btn-primary" href='/avatar/{{id_avatar}}/edit'>Editar</a>
      </div>
    <div class="col-4 col-sm-1">
      <form action='/avatar/{{id_avatar}}?_method=DELETE' method='post'>
        <button type="submit" class="btn btn-default btn-danger">Borrar</button>            
      </form>
    </div>
    <div class="col-6 col-sm-9"></div>
  </div>
{{/each}}
<br><br>
    <div class="row pt-md-5"></div>
