<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/user/login"
             //window.location="/user/login"
        }
        
      
    


</script>
<div class="row">
<h1> Tabla Imagenes </h1>
</div>

<div class="row">
<a href="/images/new" type="button" class="btn btn-default btn-success">Nuevo</a>
    <a href="/about" type="button" class="btn btn-default btn-warning">Atrás</a>
</div>
<div class="row pt-md-5"></div>

{{#each objImagenes}}
  <div class="row">
      <br> <br>
    <div class="col-4 col-sm-3">
        <p href='/images/{{id_imagen}}'> ID: {{id_imagen}} <br> DESCRIPCIÓN: {{descripcion}} <br>IMAGEN: {{imagen}} <br> ID PARTIDA: {{id_partida}} </p>
    </div>
    <div class="col-4 col-sm-1">
        <a type="button" class="btn btn-default btn-primary" href='/images/{{id_imagen}}/edit'>Editar</a>
      </div>
    <div class="col-4 col-sm-1">
      <form action='/images/{{id_imagen}}?_method=DELETE' method='post'>
        <button type="submit" class="btn btn-default btn-danger">Borrar</button>            
      </form>
    </div>
    <div class="col-6 col-sm-9"></div>
  </div>
{{/each}}
<br><br>
    <div class="row pt-md-5"></div>
