<script >
       
        var usuario = localStorage.getItem("usuario");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/user/login"
             //window.location="/user/login"
        }
        
</script>

<h2>Campos modificados -  <a href="/partida">Partida</a></h2>


{{user.id_partida}},  {{user.piezas}}, {{user.imagen}}, {{user.úsuarios_id}}, {{user.rompecabeza_id}}

<a href="/partida/{{user.id_partida}}/edit"> <button type="submit" class="btn btn-default btn-primary">Actualizar</button></a> 

<a href ="/partida"><button type="submit" class="btn btn-default success" >Ir al menú</button></a>
